* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    position: relative;
    overflow: hidden;

}
/* for image */
header:before{
    content: "";
    width: 600px;
    height: 600px;
    position: absolute;
    top: 30%;
    right: 68%;

    /* left: 0; */
    /* bottom: 0; */
    border-radius: 550px;
    background-size: 100% 100%;
    background-image: url('profile.jpg');
    overflow: hidden;
}





/* social icons */
.social_media{
    width: 100%;
    height: auto;
    position: absolute;
    /* right: 0; */
    top: 40%;
    left: 95%;

}

.fa_icons{
    width: 40px;
    height: 40px;
   
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa_icons:nth-child(even){
    margin: 20px 0;
}
.fa_icons:hover{
    background-image: linear-gradient(19deg, #B721FF 0%, #21D4FD 100%);

}




/* for image */






nav {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.logo a {

    font-size: 1.6rem;
    text-transform: uppercase;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

.menu ul li a {
    text-transform: uppercase;
}

.active, ul li:hover {
    border-top: 2px solid #5dade2;
    border-bottom: 2px solid #5dade2;

}

.contact_btn a{
    background-color: #d465ef;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    text-transform: capitalize;

}

.contact_btn a:hover{
    background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
}


/* center */

.center_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.center_content h1{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.center_content h2{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    /* margin-bottom: 10px; */
    
}
.center_content h2:before{
    content: "";
    width: 80px;
    height: auto;
    border: 2px solid white;
    position: absolute;
    left: 40px;
    bottom: 0;
    margin-bottom: 10px;
}

/* dots image  */

.grid{
    position: absolute;
    top: 82%;
    right: 20%;
    overflow: hidden;
}