*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}

.heading{
    width: 100vw;
    height: 5.5rem;
    background-color: #f4511e;
    color: white;
    box-shadow: 0px 10px 16px rgb(248, 247, 247);
}
.heading h1{
    line-height: 5.8rem;
    margin-left: 2rem;
    font-weight: 400;

}
/* add note button */
/* .add:active{
    transform: scale(0.98);
}
.btn-div{
    position: fixed;
    top: 7rem;
    right: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0px;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

}
button.learn-more{
    width: 12rem;
    height: auto;
}
button.learn-more .circle{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: red;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
}
button.learn-more .circle .icon.arrow{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before{
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);

}
button.learn-more .button-text{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

} */
.btn-div{
    position: fixed;
    top: 6rem;
    right: 0.3rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* notes */
.note{
    background-color: white;
    margin: 30px 20px;
    height: 200px;
    width: 400px;
    overflow-y: scroll;
    margin-top: 5rem;

}
.note .operation{
    display: flex;
    justify-content: flex-end;
    padding: 1;
}
.note .operation button{
    background-color: transparent;
    color: white;
    padding: 1px;
    cursor: pointer;
    border: none;
    margin-left: 0.5rem;
}
.fa-edit, .fa-trash-alt{
    color: white;
    padding: 10px;
    background-color: rgb(0, 132, 88);
    border-radius: 50%;
}
.fa-trash-alt{
    background-color: #f4511e;
}
.main{
    padding: 20px;
}
.hidden{
    display: none;
}
.note textarea{
    outline: none;
    border: none;
    height: 300px;
    width: 100%;
    padding: 20px;
}