body {
    display: grid;
    place-items: center;
    background-color: rgb(255, 208, 147);
}

form{
  
}
.main{
    background-color: white;
    width: 60vw;
    max-width: 37.5em;
    padding: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}
.main label {
    color: blueviolet;
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#temp{
    font-size: 1.6em;
    width: 55vh;
    border: none;
    border-bottom: 2px solid blueviolet;
    outline: none;
    color: black;
}

.main select {
    font-size: 1.65em;
    color: blueviolet;
    border: none;
    border-bottom: 2px solid blueviolet;
}


input[type = submit]{
    justify-content: center;
    font-size: 1.2em;
    color: aliceblue;
    background-color: blueviolet;
    /* color: white; */
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    border: none;
    border-radius: 1.5;
    text-align: center;
    text-decoration-color: aliceblue;
    border-radius: 5%;
    text-align: center;
    
}

#result{
    color: grey;
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}